
<body>
  <%- include('header'); %>
  <main>
    <section class="section">
        <div class="card">
          <div class="eachCard">
            <img class="card-item-img" src=<%= pokemons.image %> alt=<%=pokemons.name %> />
            <p class="card-item">
              <%= pokemons.number %>
            </p>
            <p class="card-item">
              <%= pokemons.name %>
            </p>
            <p class="card-item"> 
              <%= pokemons.description %>
            </p>
            <p class="card-item"> 
              <%= pokemons.height %> m
            </p>
            <p class="card-item"> 
              <%= pokemons.weight %> kg
            </p>
            <p class="card-item"> 
              <%= pokemons.category %>
            </p>
            <p class="card-item"> 
              <%= pokemons.abilities %>
            </p>
          </div>
        </div>
      </section>
  </main>
  <%- include('footer'); %>
</body>
</html>