
<body>
  <main>
    <section class="section">
        <%- include('header'); %>
        <div class="card">
          <div class="eachCard">
            <img class="card-item" src=<%= pokemons.image %> alt=<%=pokemons.name %> />
            <p class="card-item">
              <%= pokemons.number %>
            </p>
            <p class="card-item">
              <%= pokemons.name %>
            </p>
            <p class="card-item">Descrição: <%= pokemons.description %>
            </p>
            <p class="card-item">Altura: <%= pokemons.height %>
            </p>
            <p class="card-item">Peso: <%= pokemons.weight %>
            </p>
            <p class="card-item">Categoria: <%= pokemons.category %>
            </p>
            <p class="card-item">Habilidades: <%= pokemons.abilities %>
            </p>
          </div>
        </div>
      </section>
  </main>
  <%- include('footer'); %>
    <script src='js/script.js'></script>
</body>

</html>