
<body>
  <main>
    <%- include('header'); %>
    <section class="section">
      <div class="card">
        <% pokemons.map ( i => {
          %><div class="eachCard">
              <p class="card-item"><%= i.name %></p>  <%
            %> <img class="card-item" src=<%= i.image %> /> <%
            %> <p class="card-item">Type: <%= i.type %></p>
          </div> <%
        }) %>
      </div>
    </section>
  </main>
  <%- include('footer'); %>
</body>
</html>