
<body>
  <main>
    <%- include('header'); %>
  
  <% if(message != ""){ %>
    <section id="msg">
      <p><%= message%></p><p id="close">&times;</p>
    </section>
  <% } %>
  
    <section class="section">
      <div class="card">
        <% pokemons.forEach ( (item, id) => {
          %><a class="eachCard" href="/detalhes/<%= id %>">
            <p class="card-item"><%= item.name %></p>  <%
            %> <img class="card-item" src="<%= item.image %>" alt=<%= item.name %> /> <%
            %> <p class="card-item">Type: <%= item.type %></p>
          <%}) %>
      </a>
      </div>
    </section>
  </main>
  <%- include('footer'); %>
  <script src='js/script.js'></script>
</body>
</html>