
<body>
  <main>
    <%- include('header'); %>
  
  <% if(message != ""){ %>
    <section id="msg">
      <p><%= message%></p><p id="close">&times;</p>
    </section>
  <% } %>
    <section class="section">
      <div class="card">
        <% pokemons.map ( i => {
          %><div class="eachCard" onclick="cardOnClick()">
            <p class="card-item"><%= i.name %></p>  <%
            %> <img class="card-item" src=<%= i.image %> alt=<%= i.name %> /> <%
            %> <p class="card-item">Type: <%= i.type %></p>
          </div> <%
        }) %>
      </div>
    </section>
  </main>
  <%- include('footer'); %>
  <script src='js/script.js'></script>
</body>
</html>